.leftpanel {
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
    float: left;
    position: fixed;
}

.leftcardname {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
}

.leftpanel .leftcard {
    height: 500px;
    width: 300px;
    background: #FEBD9A;
}

.leftpanel .leftcard .circle {
    padding-top: 30px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    justify-content: center;
}

.profilepic {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.leftpanel .intro {
    padding: 40px 60px 0px 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    color: #2B2612;
}

.leftpanel .social-media {
    margin: 20px 30px 20px 30px;
    position: absolute;
    bottom: 0;
    left: 60px;
}

.leftpanel .social-media img {
    height: 25px;
    opacity: 0.4;
}