* {
    padding: 0px;
    margin: 0px;
}

.main-body {
    background:#EDEDED;
}

.menu {
    background: #0E1D48;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
}

.left-panel {
    background: #58A7C6;
    float: left;
    margin-top: 60px;
    margin-left: 100px;
    height: 550px;
    width: 280px;
    border-radius: 5px;
    position: fixed;


}

.left-panel .name {
    margin: 10px;
    color:#0D1D49;
    font-family: sans-serif;
    font-size: 30px;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin:auto ;
    margin-top: 20px

}

.circle .foto {
    max-height: 220px;
    max-width: 220px;
}

.brief p {
    padding: 20px 40px 20px 40px;
    text-align: justify;
    text-justify: inter-word;
    color:#0D1D49;
    font-size: 16px;

}

.main-panel {
    background: #C3DFEA;
    margin-top: 60px;
    margin-left: 450px;
    width: 600px;
    float: left;
    border-radius: 5px;
}

.card {
    background: #59A6C4;
    margin: 40px;
    height: 200px;
    border-radius: 5px;
}

.card h3 {
    padding: 10px;
}

